/* Header Formatting */
h1 { /* Header 1 Colour will be Kainos Blue*/
    color: rgb(40,52,130);
    margin: 20px;
  }

h2 {  /* Header 2 Colour will be Kainos Green*/
    color: rgb(90, 153, 71);
    margin: 20px;
  }

h3 {   
  color: #2b2828;
  margin: 20px;
}

h4 {    
  color: #2b2828;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}

h5 {    
  color: #2b2828;
  font-size: 17px;
  font-weight: bold;
}


/* Paragraph Formatting */
p {   
  color: #2b2828;
  font-size: 16px;
  margin: 20px;
}


/* Bullet Points */
ul.tab {
  list-style-type: circle;
  margin-top: 0px;
  margin: 15px;
}

.ul-none {
  list-style-type: none;
  margin-top: 0px;
  margin: 15px;
}


/* Header Images and Wrapping */
.img-wrap {
  width: 100%;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.imgHomepage{
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.img-bannar {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}


/* Layout Formatting */
.center {
    display: block;
    text-align: center;
  }

html, body{
    padding: 0;
    margin: 0;
  }


/* Button Formatting*/
.button {
    background-color: rgb(90, 153, 71);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

.button:hover {background-color: rgb(65, 110, 52)}


/* Table Formatting */
.green-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.green-table  td, .green-table  th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top
}

.green-table  tr:hover {background-color: #ddd;}

.green-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #498205;
    color: white;
}

  
#us007-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 90%;
  margin: 20px;
  font-size: 15px;
}

#us007-table  td,tr, #us007-table  th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top
}

#us007-table  tr:hover {background-color: #ddd;}

#us007-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #498205;
  border-color:#ddd;
  color: white;
}
  

/* Form Formatting */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.submit {
  font-weight:bold;
  font-size: 17px;
  letter-spacing: 1px;
  }

/* Competency Button */
.competency-button {
  background-color: #498205;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-weight:bold;
  font-size: 17px;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 12px;
  width: 250px;
  height: 50px;
  }

.competency-button:hover {background-color: #498205}

.competency-block {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0px;
  border-radius: 5px;
  padding: 20px;
}

* {
  box-sizing: border-box;
}
/* Homepage Formatting*/
.colHomepageImg {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.rowHomepageImg::after {
  content: "";
  clear: both;
  display: table;
}

 #searchBox {
  float: right;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-right: 12px;
}


/*Checkbox Filters*/
.jobRoles-wrap {
  font-family: Arial, Helvetica, sans-serif;
  float:left;
  width:20%;
  position:relative;
  margin: 20px;
  margin-top: 0px;
  margin-right: 0px;
  display: none;
}	
#jobRolesTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  float:left;
  width:70%;
  margin:20px;
}

#jobRolesTable  td, #jobRolesTable  th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top
}
#jobRolesTable div {
  float:left;
  width:90%;
  height:68px;
  line-height:68px;
  padding:0 5%;
  background:#eee;
  margin:0 0 1px;
  position:relative;
}	

#jobRolesTable  tr:hover {background-color: #ddd;}

#jobRolesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #498205;
  color: white;
}

#filterbutton{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 30px;
  margin-bottom: 0px;
  width:20%;
  background-color: #498205;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  color: white;
}
#filterbutton:hover {background-color: #3b6804;}

#clearallbutton{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #498205;
  border: none;
  font-size: 16px;
  color: white;
  width:100px; 
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 12px;
}
#clearallbutton:hover {background-color: #3b6804;}


#noresults {
  margin: 0 0 0 30px;
  float:left;
}

.homepage-link {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 20px;
  text-align: right;
}

.icon {
  position: relative;
}


@media screen and (max-width: 600px) {
  .green-table thead {
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    font-size: .9em;
  }
  
  .green-table td {
    display: block;
    font-size: .9em;
  }
  
  .green-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }  

  .competency-button {
    font-size: .9em;
    width: 200px;
    height: 25px;
  }

  .green-table tr:hover {background-color: rgb(255, 255, 255);}
  
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }

  .colHomepageImg {
    float: none;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .jobRoles-wrap {
    width: 100%;
    padding: 50px;
    background-color: #ebebeb;
    margin: 20px;
  }

} 