{% extends "layout.njk" %}

{% block content %}

<h1>Add new role</h1>

{% if errormessage %}
    <h2 id="errorMessage" style="color:red;">{{ errormessage }}</h2> 
{% endif %}

{% if status %}
    {% set regExp = r/^Error.*/g %}
    {% if regExp.test(status) %}
        <h2 id="status" style="color:red;">{{ status }}</h2>
    {% else %}
        <h2 id="status">{{ status }}</h2> 
    {% endif %}
{% endif %}

<form method="POST" action="addNewRole">
    <label for="title" id="titleLabel">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Enter Title" value="{{data.title}}"><br><br>

    <label for="contractType" id="contractTypeLabel">Contract Type:</label><br>
    <select id="contractType" name="contractType">
        {% if not data.contractType %}
        <option value="none" selected disabled hidden>Select Contract Type</option>
        {% endif %}

        {% if data.contractType == 'full_time' %}
            {% set contract = '<option value="' + data.contractType + '" selected>Full Time</option>' %}
            {{contract | safe}}
        {% else %}
            <option value="full_time">Full Time</option>
        {% endif %}

        {% if data.contractType == 'part_time' %}
            {% set contract = '<option value="' + data.contractType + '" selected>Part Time</option>' %}
            {{contract | safe}}
        {% else %}
            <option value="part_time">Part Time</option>
        {% endif %}

        {% if data.contractType == 'consultant' %}
            {% set contract = '<option value="' + data.contractType + '" selected>Consultant</option>' %}
            {{contract | safe}}
        {% else %}
            <option value="consultant">Consultant</option>
        {% endif %}

    </select><br><br>

    <label for="band" id="bandLabel">Band:</label><br>
    <select id="band" name="band">
        {% if not data.band %}
        <option value="none" selected disabled hidden>Select Band</option>
        {% endif %}
        {% for band in bands%}
            {% if data.band == band %}
                {% set band = '<option value="' + band + '" selected>' + band | replace("_", " ") + '</option>' %}
            {% else %}
                {% set band = '<option value="' + band + '">' + band | replace("_", " ") + '</option>' %}
            {% endif %}
            {{band | safe}}
        {% endfor %}
    </select><br><br>

    <label for="capability" id="capabilityLabel">Capability:</label><br>
    <select id="capability" name="capability">
        <option value="none" selected disabled hidden>Select Capability</option>
        <option value="Capability 1">Capability 1</option>
        <option value="Capability 2">Capability 2</option>
        <option value="Capability 3">Capability 3</option>
    </select><br><br>

    <label for="locations" id="locationsLabel">Locations:</label><br>
    {% for location in locations %}
        {% set checkbox = '<input type="checkbox" id="location' + loop.index +'" name="location'+loop.index + '" value='+ location.name+ '>'%}
        {% set checkboxLabel = '<label for="location' + loop.index + '">' + location.name +'</label><br>'%}
        {{checkbox | safe}}
        {{checkboxLabel | safe}}
    {% endfor %}
    <br>

    <label for="description" id="descriptionLabel">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Enter Description" value="{{data.description}}"><br><br>

    <label for="responsibilities" id="responsibilitiesLabel">Responsibilities:</label><br>
    <input type="text" id="responsibilities" name="responsibilities" placeholder="Enter Responsibilities" value="{{data.responsibilities}}"><br><br>

    <label for="sharepointLink" id="sharepointLinkLabel">Sharepoint Link:</label><br>
    <input type="text" id="sharepointLink" name="sharepointLink" placeholder="Enter Sharepoint Link" value="{{data.sharepointLink}}"><br><br>

    <input type="submit" value="Submit" id="submitButton">

</form>

{% endblock %}