{% extends "layout.njk" %}

{% block content %}
<h1>Add new role</h1>
<form method="POST" action="addNewRole">
    <label for="title" id="titleLabel">Enter title:</label><br>
    <input type="text" id="title"><br><br>

    <label for="band" id="bandLabel">Choose capability:</label><br>
    <select id="band">
        <option value="Band 1">Band 1</option>
        <option value="Band 2">Band 2</option>
        <option value="Band 3">Band 3</option>
    </select><br><br>

    <label for="capability" id="capabilityLabel">Choose capability:</label><br>
    <select id="capability">
        <option value="Capability 1">Capability 1</option>
        <option value="Capability 2">Capability 2</option>
        <option value="Capability 3">Capability 3</option>
    </select><br><br>

    <input type="submit" value="Submit" id="submitButton">

</form>
{% endblock %}