{% extends "layout.njk" %}

{% block content %}

<h1>Add new role</h1>

{% if errormessage %}
    <h2 id="errorMessage" style="color:red;">{{ errormessage }}</h2> 
{% endif %}

<form method="POST" action="addNewRole">
    <label for="title" id="titleLabel">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Enter Title" value="{{data.title}}"><br><br>

    <label for="band" id="bandLabel">Band:</label><br>
    <select id="band" name="band">
        {% if not data.band %}
        <option value="none" selected disabled hidden>Select Band</option>
        {% endif %}
        {% for band in bands%}
            {% if data.band == band %}
                {% set band = '<option value="' + band + '" selected>' + band | replace("_", " ") + '</option>' %}
            {% else %}
                {% set band = '<option value="' + band + '">' + band | replace("_", " ") + '</option>' %}
            {% endif %}
            {{band | safe}}
        {% endfor %}
    </select><br><br>

    <label for="capability" id="capabilityLabel">Capability:</label><br>
    <select id="capability" name="capability">
        <option value="none" selected disabled hidden>Select Capability</option>
        <option value="Capability 1">Capability 1</option>
        <option value="Capability 2">Capability 2</option>
        <option value="Capability 3">Capability 3</option>
    </select><br><br>

    <label for="description" id="descriptionLabel">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Enter Description" value="{{data.description}}"><br><br>

    <input type="submit" value="Submit" id="submitButton">

</form>

{% endblock %}