<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>MVP| {{ title }}</title>

        <link rel="stylesheet" type="text/css" href="css/mainstyle.css" />
    </head>

    <body>
    <div class="header-img"></div>
    <h1>Heading 1 Format Test</h1>
    <h2>Heading 2 Format Test</h2>
    <p>Paragraph Format Test</p>
    <div class="header-name-img"></div>
    <hr>
    <hr>
    

    {% block content %}

    {% endblock %}

    </body>
</html>