{% extends "layout.njk" %}

{% set title = 'Home' %}


{% block content  %}  
<div class="img-wrap">
  <img src="../images/KainosHeader.jpeg" alt="Kainos Colur Bannar"/>
</div>

<h1 id=page_title>Welcome to the Online Job Application</h1>

<ul>
    <li><h4><a href="viewjobroles" title="View Job Roles"> View Job Roles </a></h4></li> 
    <li><h4><a href="viewcompetencies" title="View Competencies for the Engineering Capability"> View Competencies for the Engineering Capability </a></h4></li> 
    <li><h4><a href="viewmatrixofroles" title="View Matrix of Roles"> View Matrix of Roles </a></h4></li> 
</ul>


{% endblock %}