{% extends "layout.njk" %}

{% set title = 'View Job Roles' %}

var dateFilter = require('nunjucks-date-filter');
var env = new nunjucks.Environment();
env.addFilter('date', dateFilter);

{% block content  %}  
<h1 id=page_title>View Job Roles</h1>

<div class="jobRoles-wrap">
  <h4><strong>Filter by Contract Type:</strong></h4>
  <form>
    <label><input type="checkbox" name="jr-contractType" value="full_time" id="full_time" /> Full Time</label><br>
    <label><input type="checkbox" name="jr-contractType" value="part_time" id="part_time" /> Part Time</label><br> 
    <label><input type="checkbox" name="jr-contractType" value="contractor" id="contractor" /> Contractor</label>
  </form>
  <h4><strong>Filter by Location:</strong></h4>
  <form>
    <label><input type="checkbox" name="jr-location" value="London" id="London" /> London </label><br>
    <label><input type="checkbox" name="jr-location" value="Belfast" id="Belfast" /> Belfast </label><br> 
    <label><input type="checkbox" name="jr-location" value="Birmingham" id="Birmingham" /> Birmingham </label><br>
    <label><input type="checkbox" name="jr-location" value="Derry" id="Derry" /> Derry </label><br>
    <label><input type="checkbox" name="jr-location" value="Toronto" id="Toronto" /> Toronto </label><br>
    <label><input type="checkbox" name="jr-location" value="Gdansk" id="Gdansk" /> Gdansk </label><br>
  </form>
  <h4><strong>Filter by Band:</strong></h4>
  <form>
    <label><input type="checkbox" name="jr-band" value="Leadership" id="Leadership" /> Leadership </label><br>
    <label><input type="checkbox" name="jr-band" value="Principal" id="Principal" /> Principal </label><br> 
    <label><input type="checkbox" name="jr-band" value="Manager" id="Manager" /> Manager </label><br>
    <label><input type="checkbox" name="jr-band" value="Consultant" id="Consultant" /> Consultant </label><br>
    <label><input type="checkbox" name="jr-band" value="Senior_Associate" id="Senior_Associate" /> Senior Associate </label><br>
    <label><input type="checkbox" name="jr-band" value="Associate" id="Associate" /> Associate </label><br>
    <label><input type="checkbox" name="jr-band" value="Trainee" id="Trainee" /> Trainee </label><br>
    <label><input type="checkbox" name="jr-band" value="Apprentice" id="Apprentice" /> Apprentice </label><br>
  </form>
</div>

<table class="jobRolesTable" summary="This data table shows the current job roles within Kainos">
<thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Location</th>
        <th scope="col">Contract Type</th>
        <th scope="col">Posted At</th>
    </tr>
</thead>
<tbody>
    {% for job_role in job_roles %}
      <tr class="jobRole" data-category="{{ job_role.contractType}} {{ job_role.title }} {% for location in job_role.locations %}{{ location.name }} {% endfor %}{{job_role.band.name}} {{job_role.capability}}">
          <td scope="row"> <a href="/viewjobspecification/{{ job_role.id}}">{{ job_role.title}}</a></td>
          <td scope="row"> 
              {{ job_role.locations[0].name }} 
              {% if job_role.locations[1] != null %}, More...{% endif %}
          </td>
          <td scope="row"> {{ job_role.contractType | replace("_", " ") | capitalize}} </td>
          <td scope="row"> {{ job_role.posted | date("DD MMM YYYY") }} </td>
      </tr>
    {% endfor %}
</tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  var $filterCheckboxes = $('input[type="checkbox"]');
  var filterFunc = function() {

    var selectedFilters = {};

    // seperating rule for filter name 
    $filterCheckboxes.filter(':checked').each(function() {
      if (!selectedFilters.hasOwnProperty(this.name)) {
        selectedFilters[this.name] = [];
      }
      selectedFilters[this.name].push(this.value);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.jobRole');

    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

      // filter each .jobRole element
      $filteredResults = $filteredResults.filter(function() {

        var matched = false,
        currentFilterValues = $(this).data('category').split(' ');

        // loop over each category value in the current .jobRole's data-category
        $.each(currentFilterValues, function(_, currentFilterValue) {

          // if the current category exists in the selected filters array
          // set matched to true, and stop looping. as we're ORing in each
          // set of filters, we only need to match once

          if ($.inArray(currentFilterValue, filterValues) != -1) {
            matched = true;
            return false;
            }
        });

        // if matched is true the current .jobRole element is returned
        return matched;

      });
    });

    $('.jobRole').hide().filter($filteredResults).show();
  }

  $filterCheckboxes.on('change', filterFunc);  
</script>

{% endblock %}