{% extends "layout.njk" %}

{% set title = 'View Job Family Per Capability' %}


{% block content  %}  
<div class="homepage-link">
  <a href="http://localhost:7999/navigation" title="Back to Homepage Link">Back to Homepage</a>
</div>

<h1 id=page_title>Job Family Per Capability</h1>
<p> Please click the capability buttons to view the related job families.</p>
    <div>
        <button class="competency-button" onclick="expandFunction('Engineering1')"> Engineering </button>
    </div>

    {% set div = '<div class="competency-block" id="Engineering1" style="display: none;"> '%}
    {{div | safe}}
        <table class="green-table" summary="This data table shows job families per capability">
        <thead>
            <tr>
                <th scope="col"> Job Family </th>
                <th scope="col"> Job Titles </th>
            </tr>
        </thead>
        <tbody>
        {%for jobFamily in jobFamilies%} 
            <tr>
                <td scope="row">{{jobFamily.jobFamilyName}}<br></td>
                <td scope="row">
                {%for jobTitleName in jobFamily.jobTitles%}
                    {{jobTitleName}} <br>
                {%endfor%}
                </td>
            </tr>
        {%endfor%}
        </tbody>
        </table>
    </div>

<script>
function expandFunction(element_id) {
    var x = document.getElementById(element_id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock %}