{% extends "layout.njk" %}

{% set title = 'View Job Specification' %}

{% block content  %}

<div class="img-wrap">
  <img src="../images/KainosHeader.jpeg" alt="Kainos Colur Bannar"/>
</div>

<h1 id = "job_name">{{job_spec.title}}</h1>

{% if job_spec.band %}
<h2 id = "job_band_level">{{job_spec.band | replace("_", " ")}}</h2>
{% else %}
<h2 id = "job_band_level">No job band level</h2>
{% endif %}

{% if job_spec.capability %}
<h2 id = "job_capability">{{job_spec.capability| replace("_", " ")}}</h2>
{% else %}
<h2 id = "job_capability">No job capability</h2>
{% endif %}

{% if job_spec.contractType and job_spec.contractType == 'full_time' %} 
<h3 id = "contract_type"><i style='font-size:24px' class='far'>&#xf15c;</i> Full Time</h3>
{% elif job_spec.contractType and job_spec.contractType == 'part_time'%}
<h3 id = "contract_type"><i class="far fa-newspaper" style="font-size:24px;"> Part Time</h3>
{% elif job_spec.contractType and job_spec.contractType == 'consultant'%}
<h3 id = "contract_type"><i class="far fa-newspaper" style="font-size:24px;"> Consultant</h3>
{% else %}
{% endif %}

{% if job_spec.locations and job_spec.locations.length > 0 %}
  {% for job_location in job_spec.locations%}
    <h3 id = "locations"><i class="fa fa-map-marker" style="font-size:24px;"></i>   {{job_location.name}}</h3>
  {% endfor %}
{% else %}
    <h2 id = "locations">No Location</h2>
{% endif %}

<hr>

<h4>Our people love the exciting and meaningful work they do, the cutting-edge resources and 
    technology they have access to, the benefits we offer and the great community we’ve built. 
    Want to join them?
</h4>

{% if job_spec.description %}
<p id = "job_description">{{job_spec.description|safe}}</p>
{% else %}
<p id = "job_description">No job description</p>
{% endif %}


<h4> Full job specification
</h4>
<p> For further information, view the full job specification in <a href= "{{job_spec.sharepoint_link|safe}}" id = "job_sharePointLink">Sharepoint here</a>
</p>

{% endblock %}