{% extends "layout.njk" %}

{% set title = 'View Job Specification' %}

{% block content  %}

<div class="img-wrap">
  <img src="../images/KainosHeader.jpeg" alt="Kainos Colur Bannar"/>
</div>

<h1 id = "job_name">{{job_name}}</h1>

{% if job_capability %}
<h2 id = "job_capability">{{job_capability | replace("_", " ")}}</h2>
{% else %}
<h2 id = "job_capability">No job capability</h2>
{% endif %}

{% if contract_type and contract_type == 'full_time' %} 
<h3 id = "contract_type"><i style='font-size:24px' class='far'>&#xf15c;</i> Full Time</h3>
{% elif contract_type and contract_type == 'part_time'%}
<h3 id = "contract_type"><i class="far fa-newspaper" style="font-size:24px;"> Part Time</h3>
{% elif contract_type and contract_type == 'consultant'%}
<h3 id = "contract_type"><i class="far fa-newspaper" style="font-size:24px;"> Consultant</h3>
{% else %}
{% endif %}

{% if job_locations and job_locations.length > 0 %}

{% for job_location in job_locations%}
<h3 id = "locations"><i class="fa fa-map-marker" style="font-size:24px;"></i>   {{job_location.name}}</h3>
{% endfor %}

{% else %}
    <h2 id = "locations">No Location</h2>
{% endif %}

<hr>

<h4>Our people love the exciting and meaningful work they do, the cutting-edge resources and 
    technology they have access to, the benefits we offer and the great community we’ve built. 
    Want to join them?
</h4>

{% if job_description %}
<p id = "job_description">{{job_description|safe}}</p>
{% else %}
<p id = "job_description">No job description</p>
{% endif %}

{% endblock %}