{% extends "layout.njk" %}

{% set title = 'View Competencies Per Band' %}

{% block content  %}
<div class="homepage-link">
  <a href="http://localhost:7999/navigation" title="Back to Homepage Link">Back to Homepage</a>
</div>

<h1 id=page_title>Kainos Competencies for the Engineering Capability</h1>
<p> Please click the band level buttons to view the expected Kainos competencies for this band.</p>

{% for band in bands %}
    {% set quote = "'" %}
    {% set button = '<button class="competency-button" onclick="expandFunction(' + quote +  band.band + quote + ',' + band.competencies.length + ')"></i>' + band.band | replace("_", " ") + '</button>' %}
    
    <div>
    {{button | safe}}
    </div>

    {% for competency in band.competencies %}
        {% set div = '<div class="competency-block" id="' + band.band + loop.index + '" style="display: none;">' %}
        {{div | safe}}
            <table class="green-table" summary="This data table shows competencies per band">
            <thead>
                <tr>
                    {% set th = '<th scope="title" colspan=' + competency.indicators.length + '>' + competency.name + '</th>' %}
                    {{th | safe}}
                </tr>
            </thead>
            <tbody>
                    {% for indicator in competency.indicators %}
                        {% set tr = '<td scope="row"><b>' + indicator.name + '</b><br>' + indicator.description + '</tr>'%}
                        {{tr | safe}}
                    {% endfor %}
            </tbody>
            </table>
        </div>
    {% endfor %}
{% endfor %}

<script>
function expandFunction(element_id, no_of_elements) {
  for (let i = 1; i <= no_of_elements; i++) { 
      var x = document.getElementById(element_id + i);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
}
</script>


{% endblock %}