{% extends "layout.njk" %}

{% set title = 'View Matrix of Roles' %}

{% block content  %}  
<div class="homepage-link">
  <a href="http://localhost:7999/navigation" title="Back to Homepage Link">Back to Homepage</a>
</div>
<h1 id=page_title>Engineering Capability</h1>

<table id="us007-table" summary="This data table shows the roles within the engineering capability">
<thead>
    <tr>
        <td scope="col"> </td>
        {% for jobFamily in matrix[0].jobFamilies %}
            <th scope="col">{{jobFamily.jobFamilyName}}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for band in matrix%}
    <tr>
        <th scope="row">{{band.bandName | replace("_", " ")}}</th>
        {% for jobFamily in band.jobFamilies%}
            {% if jobFamily.jobTitles.length > 0 %}
                <td scope="row">{% for jobTitle in jobFamily.jobTitles %}{% if loop.index == 1%}{{jobTitle | replace("_", " ")}}{% else %}<br>{{jobTitle | replace("_", " ")}}{% endif %}{% endfor %}</td>
            {% else %}
                <td scope="row"> </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}