{% extends "layout.njk" %}

{% set title = 'View Matrix of Roles' %}

{% block content  %}  
<div class="img-wrap">
  <img src="../images/KainosHeader.jpeg" alt="Kainos Colur Bannar"/>
</div>

<h1 id=page_title>Engineering Capability</h1>

<p>
The Lattice below provides a detailed view of jobs by Capability and Management Level.
<ul class="tab">
    <li>Management Levels are shown in the first column. </li>
    <li>Job families are displayed along the top row - these are sub-groups within capabilities that group people by further skills and competencies. </li> 
</ul>
</p>

<table id="us007-table" summary="This data table shows the roles within the engineering capability">
<thead>
    <tr>
        <td scope="col"> </td>
        {% for job_family in matrix_roles.job_families%}
            <th scope="col">{{job_family.job_family_name}}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for band in matrix_roles.bands%}
    <tr>
        <th scope="row">{{band.band_name}}</th>
        {% for job_family in matrix_roles.job_families %}
            {% for job in band.jobs %}
                {% if job_family.job_family_name == job.job_family_name %}
                    <td scope="row">{% for job_title in band.jobs.job_titles %}{{job_title}}{% endfor %}</td>
                {% elif loop.index == band.jobs.length%}
                    <td scope="row"> </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}